<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icono.jpg">
    <link rel="stylesheet" type="text/css" href="MemoramaEstilos.css">
    <title>Juego memorama🤓</title>
</head>
<body>
    <h1 class="titulo">MEMORAMA</h1>
    <div id="app">
        
        <!-- <tablero class="tablero"></tablero> -->
    </div>
</body>

<script src="/vue.js" defer=""></script>
<script src="/EjercicioMemorama.js" defer=""></script>

<script type="text/x-template" id="carta-template" defer="">
    <div class="carta" 
        :class="infoCarta.revelada ? 'carta-Revelada' : ''"
        @click="revelar">
        {{ valor }}
    </div>
</script>

<script type="text/x-template" id="tablero-template" defer="">
    <div id="tablero-component">
        <p class="msjTutorial" v-if="!inicio && !gano && !perdio">
            Este juego consiste en descubrir todos los pares de numeros que hay dispersos en el tablero.
            Tené cuidado porque solo tenes {{ limiteIntentos }} intentos sino, ripiaste maquinola.
            ¡Clickeá una carta para empezar a jugar!
        </p>

        <div class="infoRecord" v-if="inicio || gano || perdio">
            <p>❌Intentos {{ contIntentos }} | ⏱Tiempo {{ segundosCifras }} seg.</p>
        </div>
        
        <div class="tablero" v-if="!perdio && !gano">
            <carta
                v-for="(carta, index) in cartas"
                :key="index"
                :infoCarta="carta"
                @onRevelar="revelarCarta"
                >
            </carta>
        </div>

        <div v-if="perdio === true" class="cartel perdedor">
            <p>🥶💀¡PERDISTE!💀🥶</p>
            <p>USASTE MUCHOS TURNOS.</p>
            <p>TU TIEMPO FUE DE: {{ auxSegundos }} segundos.</p>
            <button @click="cargarTablero()" class="botonRecargar">Jugar otra vez</button>
        </div>

        <div class="cartel ganador" v-if="gano === true">
            <p>😎🤑¡GANASTE!🤑😎</p>
            <p>TU TIEMPO FUE DE: {{ auxSegundos }} segundos.</p>
            <p>¿JUGÁS OTRA VEZ?</p>
            <button @click="cargarTablero()" class="botonRecargar">Reiniciar juego</button>
        </div>
    </div>
</script>
    
</html>