html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #9e9e9e;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.titulo{
    width: 50%;
    font-size: 3rem;
    text-align: center;
    background-color: rgb(199, 235, 255);
    border: 3px rgb(40, 42, 41) solid;
    border-radius: 40px;
}

#tablero-component{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
}

.msjTutorial{
    width: 80%;
    padding: .5rem;
    text-align: center;
    background-color: rgb(255 244 198);
    border: 5px rgb(255 0 0) double;
    font-size: 1.45rem;
    font-weight: bold;
}

.infoRecord{
    width: 40%;
    padding: .2rem;
    background-color: rgb(255, 254, 254);
    border: 3px rgb(40, 42, 41) solid;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.tablero{
    width: 50%;
    padding: .8rem;
    background-color: rgb(223, 220, 220);
    border: 5px rgb(39, 144, 67) solid;
    border-radius: 2px;
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
}

.carta {
    width: 4rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(255, 221, 85);
    border: 3px inset black;
    cursor: pointer;
}

.carta-Revelada {
    font-size: 2rem;
    background-color: rgb(233, 218, 157);
    cursor: default;
}

.cartel{
    width: 70%;
    padding: 1rem;
    border: 5px rgb(40, 42, 41) solid;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.perdedor{
    background-color: rgb(250, 164, 164);
}

.ganador{
    background-color: rgb(174, 250, 164);
}

.botonRecargar{
    width: 20%;
    padding: .2rem .5rem;
    font-size: 20px;
    cursor: pointer;
}